{% extends "AppEntrega/padre.html" %}

{% block titulo %}
Resultados de consulta
{% endblock titulo %}

{% block contenido %}

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Resultado de la consulta</h1> 
                
                <p>Estos son los resultados de la búsqueda: </p>

                {% if mail %}

                <ul>
                    {% for x in mail %}
                    <li>Matrícula profesional: {{ x.matricula }} </li>
                    <li>Correo electrónico: {{ x.mail }} </li>
                    {% endfor %}
                </ul>

                {% else %}
                <p>No hay profesionales con esa matrícula. </p>

                {% endif %}

                <p style="color: red;"> {{respuesta}} </p>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}